<div class="container">
    <h1>Company Leads List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Fitness resource name</th>
                <th>Discipline</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% @fitness_resource_discipline_types.each do |fitness_resource_discipline_type| %>
                <tr>
                    <td><%= fitness_resource_discipline_type.fitness_resource.name %></td>
                    <td><%= fitness_resource_discipline_type.discipline_type.name %></td>
                    <td><%= link_to "Edit", 
                                    edit_fitness_resource_discipline_type_path(fitness_resource_discipline_type), 
                                    class: "btn btn-xs btn-primary" %>
                    </td>
                    <td><%= link_to "Delete", 
                                    fitness_resource_discipline_type_path(fitness_resource_discipline_type), 
                                    method: :delete, 
                                    data: { confirm: "Are you sure?" }, 
                                    class: "btn btn-xs btn-danger" %>
                    </td>

                </tr>
            <% end %>
        </tbody>
    </table>
</div>